@import '../../../../weadapt/parts/gutenberg/acf-cta-quote/style.scss';

@import '__settings/init';

.cta-quote {

  &.background-dark {
    background-color: #222;
    color: $color--white;

    .theme--dark & {
      background-color: #ddd;
    }
  }

  &__blockquote {
    margin: 0;
    font-weight: $font-weight-content-medium;
    @include font(20, 26);

    @include media('>=md') {
      @include font(24, 32);
    }

    .title-small & {
      @include font(14, 20);

      @include media('>=md') {
        @include font(16, 22);
      }
    }
  }

  .wp-block-button {
    margin: rem(16) 0 0;
    text-align: right;
  }
}
