@import '../../../../weadapt/parts/components/popup/style.scss';

.popup {

  background: $color--primary;

  .theme--dark & {
    background: $color--white;

    &__bg {
      box-shadow: 2px 2px 12px 0px rgba(255, 255, 255, 0.33);
    }
  }

}
