body {
	--outline: 0.125rem solid #2bb673;

	--font-family-base: 'NeueHaas', sans-serif;
	--font-family-headings: 'NeueHaas', sans-serif;

	--font-weight-heading: 500;
	--font-weight-content: 400;
	--font-weight-content-medium: 500;
	--font-weight-content-bold: 500;

	--color--bg-hero: #2bb673;
	--color-bg-mega-menu: #ffffff;
	--color--primary: #2bb673;
	--color--dark-bg: #231f20;

	--color--link: #037151;
	--color--link-hover: #2bb673;

	--color--bg: #d8eddd;
	--static-color--bg: #d8eddd;
	--color--bg-to-white-reverse: #d8eddd;
}
