@import '__settings/init';

.video-iframe {
	&__video {
		margin-bottom: rem(64);

		&:last-child {
			margin-bottom: 0;
		}

		&__container {
			position: relative;
			padding-bottom: 56.25%;
			overflow: hidden;
			max-width: 100%;
			height: auto;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&__title {
			text-transform: uppercase;
			@include font(18);
		}
	}
}
