body {
	--transition-speed: 0.2s;
	--transition-timing-function: ease-in-out;

	--animation-speed: 5s;

	--outline: 0.125rem solid #014384;
	--outline-offset: 0.125rem;

	--font-family-base: 'Inter', sans-serif;
	--font-family-headings: 'Albert Sans', sans-serif;
	--font-size-base: 1rem;
	--line-height-base: 1.375;

	--font-weight-heading: 700;
	--font-weight-content: 400;
	--font-weight-content-medium: 500;
	--font-weight-content-bold: 600;

	--font-size-mobile: 0.875rem;
	--line-height-mobile: 1.42857;

	--color--black-dark: #000000;
	--color--black: #141e1b;
	--color--black-to-dark-reverse: #141e1b;
	--color--white: #ffffff;
	--color--white-light: rgba(255, 255, 255, 0.8);
	--color--red: #ff5f5f;

	--static-color--black-dark: #000000;
	--static-color--black: #141e1b;
	--static-color--white: #ffffff;

	--color--text: #141e1b;
	--color--text-light: rgba(20, 30, 27, 0.8);
	--color--text-desc: rgba(20, 30, 27, 0.5);

	--color--link: #002d75;
	--color--link-hover: #002d75;

	--static-color--text: #141e1b;

	--color--primary: #002d75;
	--color--secondary: #002d75;
	--color--tertiary: #F5AF45;
	--static-color--primary: #002d75;

	--color--bg: #e1ebe6;
	--color--bg-light: rgba(225, 235, 230, 0.5);
	--color--bg-to-white-reverse: #e1ebe6;

	--color--bg-hero: #e1ebe6;
	--color-bg-mega-menu: #e1ebe6;

	--color--bg-dark: #3a3f42;

	--color--dark-bg: #021431;
	--color--dark-bg-to-white-reverse: #021431;
	--color--body-bg: #ffffff;
	--color--border: rgba(20, 30, 27, 0.1);
	--color--border-transparent: transparent;
	--color--border-light: rgba(255, 255, 255, 0.1);

	--static-color--bg: #e1ebe6;

	--color--quote: #f5af45;
	--color--success: #46954a;
	--color--error: #e5534b;

	--color--shadow: rgba(0, 0, 0, 0.1);

	&.theme--dark {
		--outline: 0.125rem solid #ffffff;

		--color--black-dark: #ffffff;
		--color--black: #ffffff;
		--color--black-to-dark-reverse: #000000;
		--color--white: #000000;

		--color--text: #ffffff;
		--color--text-light: rgba(255, 255, 255, 0.8);
		--color--text-desc: rgba(255, 255, 255, 0.5);
		--color--link: #ffffff;

		--color--primary: #ffffff;

		--color--bg: #000000;
		--color--bg-light: #ffffff;
		--color--bg-to-white-reverse: #ffffff;

		--color--bg-hero: #000000;
		--color-bg-mega-menu: #000000;

		--color--bg-dark: #000000;

		--color--body-bg: #000000;
		--color--border: rgba(255, 255, 255, 0.2);
		--color--border-transparent: #ffffff;

		--color--dark-bg: #000000;
		--color--dark-bg-to-white-reverse: #ffffff;

		--color--shadow: rgba(255, 255, 255, 0.25);
	}

	@media (prefers-reduced-motion: reduce) {
		--transition-speed: 0s;
		--transition-timing-function: linear;

		--animation-speed: 0s;
	}
}
