@import '__settings/init';

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: rem(12);

	font-family: 'Poppins', sans-serif;;
	font-weight: 'Poppins', sans-serif;
	color: $color--text;

	&:only-child {
		margin-bottom: 0;
	}
}